.video {
  background-color: white;
  /* snap begins */
  width: 80%;
  height: 78%;
  position: relative;
  scroll-snap-align: start;
  /* snap ends */
}

.video__player {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
